@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');




/*------------SLIDER--------------*/
*, *::after, *::before {
  box-sizing: border-box;
}

:root {
   --slider-padding: 5rem;
}

.container{
  display: flex;
  justify-content: center;
}

.slider{
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 .25rem;
  overflow-x: scroll;
}

.slider > img {
  flex: 0 0 25%;
  max-width: 25%;
  padding: .25rem;
  border-radius: 1rem;
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  width: 5rem;
  background-color: rgba(0, 0, 0, .25);
  z-index: 10;
  margin: .25rem 0;
  padding: 0 .5rem;
  cursor: pointer;
  font-size: 5rem;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  transition: font-size, background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover {
  background-color: rgba(0, 0, 0, .5)
}



.container:hover .left-handle::after {
  content: \2039; 
}

.container:hover .right-handle::after {
  content: \203A;
}


/*--------------------BOXAR-----------*/
	
.img 
{
  display: flex;
  margin: 10px;
  border: solid black;
}
  
/* NAV BAR*/
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  background-color: white;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
a {
  color: #34495e;

}

h3 {
  color: black;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: 0.99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  height: 100px;
  background-image: linear-gradient(white, grey);
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px){
  .img{
    flex-direction: row;
    height: 80px;
    width: 80px;
  }
}